.section-balls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}

.btn-random-number {
  width: 200px;
  height: 50px;
  background-color: #666594;
  border: none;
  border-radius: 22px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.btn-random-number:hover {
  background-color: #4d4d6d;
}

.block-balls {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  background: #d1c76c;
  padding: 20px;
  border-radius: 20px;
}
